body {
    background-color: #F6F5F6;
    font-family: "DM Sans", serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-container {
    display: grid;
    /* width: 1120px; */
    grid-template-columns: repeat(4, 256px);
    grid-template-rows: repeat(4, 256px);
    grid-template-areas:
        'quicker social social schedule'
        'quicker social social schedule'
        'AI manage maintain schedule'
        'AI audience grow grow';
}

.card {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
}

.deep-purple {
    background-color: #7551DC;
    color: #ffffff;
    max-width: 544px;
}

.white {
    background-color: #ffffff;
}

.orange {
    background-color: #FFCC6A;
}

.light-orange {
    background-color: #F9EEE2;
}

.light-purple {
    background-color: #DBD1FC;
}

.purple-text {
    color: #7551DC;
}


.icon-stars {
    width: 192px;
    height: 32px;
}

.icon-follow {
    width: 316px;
}

.icon-calendar {
    width: 208px;
}

.icon-time-graph {
    width: 357px;
}

.icon-follower-graph {
    width: 227px;
}

.icon-audience {
    width: 179px;
    height: 66px;
}

.icon-create {
    width: 190px;
}

.icon-content {
    width: 220px;
}

.card-1 {
    grid-area: social;
}

.card-2 {
    grid-area: manage;
}

.card-3 {
    grid-area: maintain;
}

.card-4 {
    grid-area: schedule;
}

.card-5 {
    grid-area: grow;
}

.card-6 {
    grid-area: audience;
}

.card-7 {
    grid-area: quicker;
}

.card-8 {
    grid-area: AI;
}