body {
    background-color: #F6F5F6;
    font-family: "DM Sans", serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-auto-columns: 256px;
    grid-auto-rows: 62px;
    grid-template-areas:
        'box7 box1 box1 box4'
        'box7 box1 box1 box4'
        'box7 box1 box1 box4'
        'box7 box1 box1 box4'
        'box7 box2 box3 box4'
        'box8 box2 box3 box4'
        'box8 box2 box3 box4'
        'box8 box6 box5 box5'
        'box8 box6 box5 box5'
        'box8 box6 box5 box5';
    grid-gap: 30px;
}

@media (max-width: 1200px){
    .grid-container {
        grid-auto-columns: 328px;
        grid-auto-rows: 123px;
        grid-template-areas:
        'box1 box1'
        'box1 box1'
        'box2 box3'
        'box2 box3'
        'box4 box4'
        'box4 box4'
        'box4 box4'
        'box4 box4'
        'box5 box5'
        'box5 box5'
        'box6 box6'
        'box7 box8'
        'box7 box8'
        'box7 box8';
    }
}

/*Card classes*/
.card {
    display: block;
    line-height: 1;
    border-radius: 10px;
    overflow: hidden;
}

.deep-purple {
    background-color: #7551DC;
    color: #ffffff;
    /* max-width: 544px; */
}

.white {
    background-color: #ffffff;
}

.orange {
    background-color: #FFCC6A;
}

.light-orange {
    background-color: #F9EEE2;
}

.light-purple {
    background-color: #DBD1FC;
}

.purple-text {
    color: #7551DC;
}

.card-1 {
    grid-area: box1;
    text-align: center;
    padding-left: 32px;
    padding-right: 32px;
}



.card-2 {
    grid-area: box2;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card-3 {
    grid-area: box3;
    display: flex;
    align-items: start;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

.card-4 {
    grid-area: box4;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card-5 {
    grid-area: box5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
}

.card-6 {
    grid-area: box6;
    display: flex;
    align-items: start;
    justify-content: center;
    padding-left: 20px;
    flex-direction: column;
}
@media (max-width: 1200px){
    .card-4 {
        align-items: center;
    }
    
    .card-6{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

.card-7 {
    grid-area: box7;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

.card-8 {
    grid-area: box8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

/*Text classes*/
.large-text {
    font-size: 62px;
    letter-spacing: -3px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.large-bold {
    font-size: 62px;
    font-weight: 500px;
    letter-spacing: -3px;
    margin-bottom: 25px;
}

.medium-bold {
    font-size: 40px;
    font-weight: 500px;
    letter-spacing: -2px;
}

.small-bold {
    font-size: 32px;
    font-weight: 500px;
    letter-spacing: -2px;
}


.caption-text {
    font-size: 18px;
}

.contain-text {
    max-width: 85%;
}

.highlight {
    color: #FFCC6A;
}

@media screen and (max-width: 1200px){
    .large-bold {
        font-size: 54px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .large-text {
        font-size: 54px;
    }

    .medium-bold {
        font-size: 36px;
    }

    .card-5 > .medium-bold {
        padding-left: 100px;
        padding-right: 100px;
    }

    .small-bold {
        font-size: 28px;
    }
}

/*Icons*/
.icon-stars {
    width: 192px;
    height: 32px;
}

.icon-follow {
    width: 316px;
    height: 66px;
}

.icon-calendar {
    width: 208px;
    height: 157px;
}

.icon-time-graph {
    width: 357px;
    height: 319px;
}

.icon-follower-graph {
    width: 227px;
    height: 200px;
}

.icon-audience {
    width: 179px;
    height: 66px;
}

.icon-create {
    width: 190px;
    height: 90px;
}

.icon-content {
    width: 220px;
    height: 222px;
}